body {
  background-color: green; /* Couleur corrigée */
  font-family: "Vladimir Script", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hauteur entière de l'écran */
}

.main-container { 
  background-color: #ffffff; /* Fond blanc pour le CV */
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour faire joli */
  width: 70%;
  max-width: 800px;
}

h1, h2 {
  color: #0055a5;
  text-align: center; /* Titre centré */
}

a {
  color: #ff6600;
  text-decoration: none;
  margin: 0 10px;
}

a:hover {
  text-decoration: underline;
}
